img {
    width: 100%;
}
.header{
    height: 40px;
}
* { margin: 0px; padding: 0px; }
#fullheight{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.nav-burger{
	height: 30px;
}
div.navbar{height:73px;background:#0D1019;}
div.burger {
	height: 40px; 
	width: 40px;
	position: absolute;
	top: 16px; 
    left: 21px;
    z-index: 99;
}
div.x, div.y, div.z {
	background-color: #fff;
	position: absolute; margin: auto;
	top: 0px; bottom: 20px; left: 6px;		
	background: #fff;
	border-radius:2px;
}
.bg-light-blue{
	background: #2c5a88 !important;
}
.bg-light-warning {
    background: #fff4de !important;
}
.bg-light-primary {
    background: #e1f0ff !important;
}
.bg-light-danger {
    background: #ffe2e5 !important;
}
.bg-light-success {
    background: #c9f7f5 !important;
}
.text-light-warning {
    color: #fff4de !important;
}
.text-light-primary {
    color: #e1f0ff !important;
}
.text-light-danger {
    color: #ffe2e5 !important;
}
.text-light-success {
    color: #c9f7f5 !important;
}
.text-warning {
    color: #ffa800 !important;
}
.text-primary {
    color: #3699ff !important;
}
.text-danger {
    color: #f64e60 !important;
}
.text-success {
    color: #1bc5bd!important;
}

@media (max-width: 768px) {

	div.screen{
		width: 100%;
		overflow:hidden;
		position: relative; 
		background:#0D1019;
		overflow: auto;
	}
	.list{margin-top:0px; text-align:left;}
	.item{
		height:115px;
		margin-top:30px 0;
		padding-left:115px;
		clear:both;
	}
	.item .img, .item span{background:#214273; border-radius:3px;}
	.item .img{float:left; width:71px; height:71px; margin-left:-93px;}
	.item span{height:11px; width:180px; margin-bottom:19px; float:left;}
	.item span:nth-of-type(3){width:75px;}

	div.burger {
		height: 40px; 
		width: 100%;
		background-color: red;
		position: absolute;
		top: 0px; 
		left: 0px;
	}
		div.x,
		div.y,
		div.z {
			position: absolute; margin: auto;
			top: 0px; bottom: 20px; left: 5%;		
			background: #fff;
			border-radius:2px;
			-webkit-transition: all 200ms ease-out;
			-moz-transition: all 200ms ease-out;
				-ms-transition: all 200ms ease-out;
				-o-transition: all 200ms ease-out;
					transition: all 200ms ease-out;
		}		
		div.x, div.y, div.z { height: 3px; width: 26px; }
		div.y{top: 18px;}
		div.z{top: 37px;}
		div.collapse{
			display: block;
			top: 20px;
			background:#4a89dc;
			-webkit-transition: all 70ms ease-out;
			-moz-transition: all 70ms ease-out;
				-ms-transition: all 70ms ease-out;
				-o-transition: all 70ms ease-out;
					transition: all 70ms ease-out;
		}
		
		
		div.rotate30{
			-ms-transform: rotate(30deg); 
			-webkit-transform: rotate(30deg); 
			transform: rotate(30deg);	
			-webkit-transition: all 50ms ease-out;
			-moz-transition: all 50ms ease-out;
				-ms-transition: all 50ms ease-out;
				-o-transition: all 50ms ease-out;
					transition: all 50ms ease-out;					
		}
		div.rotate150{
			-ms-transform: rotate(150deg); 
			-webkit-transform: rotate(150deg); 
			transform: rotate(150deg);	
			-webkit-transition: all 50ms ease-out;
			-moz-transition: all 50ms ease-out;
				-ms-transition: all 50ms ease-out;
				-o-transition: all 50ms ease-out;
					transition: all 50ms ease-out;					
		}
		
		div.rotate45{
			-ms-transform: rotate(45deg); 
			-webkit-transform: rotate(45deg); 
			transform: rotate(45deg);	
			-webkit-transition: all 100ms ease-out;
			-moz-transition: all 100ms ease-out;
				-ms-transition: all 100ms ease-out;
				-o-transition: all 100ms ease-out;
					transition: all 100ms ease-out;					
		}
		div.rotate135{
			-ms-transform: rotate(135deg); 
			-webkit-transform: rotate(135deg); 
			transform: rotate(135deg);	
			-webkit-transition: all 100ms ease-out;
			-moz-transition: all 100ms ease-out;
				-ms-transition: all 100ms ease-out;
				-o-transition: all 100ms ease-out;
					transition: all 100ms ease-out;					
		}

	div.navbar{height:73px;background:#232733;}

	div.circle{	
		border-radius: 50%;
		width: 0px;
		height: 0px; 
        position:absolute;
        z-index: 4;
		top: 35px;
		background:#fff;
		opacity:1;
		-webkit-transition: all 100ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
		-moz-transition: all 100ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
			-ms-transition: all 100ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
			-o-transition: all 100ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
				transition: all 100ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
    }
	div.circle.expand{
		width:1800px;
		height:1800px;
		top: -560px;
        left: -565px; 	
        overflow: hidden;
		-webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
		-moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
			-ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
			-o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
				transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);					
		
    }
	div.menu {
		height: 568px; 
		width: 100%;
		position: absolute;
		top: 0px; left: 0px;
	}
	div.menu ul li {
        z-index: 4;
		list-style: none;
		position:absolute;
		top:50px;
		left:0;
		opacity:0;
		width: 100%;
		text-align:center;
		font-size:0px;
		-webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
		-moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
			-ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
			-o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
				transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	}
	div.menu ul li a {
		color:#4a89dc;
		text-transform:uppercase;
		text-decoration:none;	
		letter-spacing:3px;			
	}

	div.menu li.animate{
		font-size:21px;
		opacity:1;
		-webkit-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
		-moz-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
			-ms-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
			-o-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
				transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	}
	div.menu li.animate:nth-of-type(1){	
		top:120px;
		transition-delay: 0.0s;	
	}
	div.menu li.animate:nth-of-type(2){
		top:190px;
		transition-delay: 0.03s;	
				
	}
	div.menu li.animate:nth-of-type(3){
		top:260px;
		transition-delay: 0.06s;		
		
	}
	div.menu li.animate:nth-of-type(4){
		top:330px;
		transition-delay: 0.09s;		
		
	}
	div.menu li.animate:nth-of-type(5){
		top:400px;
		transition-delay: 0.12s;		
		
	}
	div.menu li.animate:nth-of-type(6){
		top:470px;
		transition-delay: 0.15s;	
				
	}

	div.bottom-menu {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	div.bottom-menu .col{
		padding: 12px;
		border-top: 1px solid #fff;
	}
	div.bottom-menu .col:not(:last-of-type){
		border-right: 1px solid #fff;
	}
	.fullheight-xs{
		height: 50px !important; 
		position: relative; 
		overflow:hidden;
	}
}
@media only screen and (max-width: 600px) {
    body {
        background-color: #EDEFF7;
    }
    img{
        width: 85%;
    }
    .content{
        position: relative;
        background-color: #fff;
    }
    .content-top {
        background-color: #F64e60;
        height: 50%;
    }
    .content-data {
        top: 25%;
        height: 60%;
        position: absolute;
        padding: 5px 20px;
    }
    .content-data > .row{
        margin-top: 10px;
        height: 50%;
    }
    .rou {
        height: 100%;
        margin: 5px;
        border-radius: 10px;
    }
    .dropdown {
        background-color: rgba(255,255,255,.1);
        /* background-color: red; */
        border-color: transparent;
        padding: 6px;
    }
    .event-status{
        position: relative;
        z-index: 1;
        background-color: #fff;
    }
    .time-line::after {
        /* content: '';
        position: absolute;
        left: 115px;
        width: 4px;
        z-index: 0;
        top: 0;
        bottom: 0;
        background-color: #ecf0f3; */
    }
    
}